*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(89.96deg, #f47d23 0.04%, #ec1a3b 99.97%);
    z-index: 2;
    color: #fff;
    transition: 0.5s;

}

.showcase.active{
    right: 300px;
}

.showcase header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



header{
    position: relative;
    max-width: 1800px;
    background: rgb(231, 71, 71);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 0px;


}

.logo{
    color: aqua;
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    text-decoration: none;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
  
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    
}

nav ul li a.active,
nav ul li a:hover{
    background: rgba(207, 62, 207, 0.822);
    color: #fff;
    transition: .5s;
    border-radius: 20px;
}

.showcase video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.mtz-download-btn{
    display: none;
}

.faireundon {
    position: relative;
    z-index: 10000;
}

.faireundon img{
    position: relative;
    top: 10px;
    margin-right: 10px;

}
.faireundon a {
    display: block;
    text-decoration: none;
    background-color: #d61e38;
    color: #FFF;
    padding: 6px 15px;
    border-radius: 25px 0 0 25px;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.text{
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    font-weight: 400;
    margin:20px 0;
    max-width: 700px;
}

button {
    border-radius: 30px;
    padding: 10px;
    margin-top: 100px;
    color: #fff;
    background: rgba(236, 43, 37, 0.89);
    font-weight: 800;
    letter-spacing: 2px;
}

button:hover{
    letter-spacing: 4px;
    transition: .4s;
}

.social {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
    margin-right: 5px;

}

.social li a {
    display: inline-block;
    transform: scale(0.5);
    transition: .5s;

}

.social li a:hover {
    transform: translateY(-20px);
}
/* .menu {
    position: absolute;
    top:100px;
    left: 85%;
    height: 80%;
    display: grid;
}

.menu li {
    list-style: none;
}

.menu li a:hover {
    font-weight: 900;
    color: red;
}

.menu li a {
    text-decoration: none;
} */


@media(max-width: 760px)
{
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size:  3em;

    }

    .text h3 {
        font-size: 2em;
    }
}

@media (max-width: 768px){
    .menu-toggle{
        display:block;
        width: 40px;
        height: 40px;
        margin: 10px;
      
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color:azure;
    }
    .menu-toggle::before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
        
    }
    .menu-toggle.active::before{
        content: '\f00d';
       
        
    }

    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }

    nav.active ul{
        display: block;
      
    }
}


/* page contact */

.bg-theme{
    background: rebeccapurple !important;
}

.card-contact{
    margin-left: -130px;
}
.card-contact h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    position: relative;
    margin-bottom: 40px;
}
.card-contact h1::before {
content: '';
height: 3px;
width: 80px;
background: #fff;
position: absolute;
bottom: -10px;
}

.icon-part{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    font-size: 20px;
    
}
label{
    font-size: 16px;
    font-weight: 700;
}
.btn-submit{
    padding: 10px 20px !important;
    background: purple !important;
    color: #fff !important;
    border-radius: 10px !important;
    margin-top: 20px;
}





